
.bg-dark {
    background: rgb(12, 12, 12) !important;
}


.bg-moralis{
    background: #03c6e8!important;
}
.text-moralis{
    color: #03e0e8!important;
}
.border-moralis{
    border-color: #0307e8!important;
}
.btn-moralis{
    color: #f2f2f2!important;
    background: #0353e8!important;
}
.btn-moralis:hover{
    color: #fffafa!important;
    background: #4cc4e9!important;
}

/* for font and logo */

.btn-outline-moralis{
    color: #06ffff!important;
    border: 2px solid #1cd7f0!important;
}
.btn-outline-moralis:hover{
    color: #ffffff!important;
    background: #15ff00!important;
}

.btn-primary{
    background: #0C2E75 !important;
    border-color: #0C2E75 !important;
    color: #f2f2f2;
}
.btn-primary:hover{
    background: #082151 !important;
    border-color: #082151 !important;
    color: #f2f2f2;
}

.card {
    border-radius: .6rem !important;
}

.border-light {
    border-color: rgb(251, 254, 255) !important;
}